<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #4 - Loop over the search results to display all job fields. -->

    <th:block th:each="job : ${jobs}">
        <table class="job-listing">
            <tr>
                <th >ID:</th>
                <th th:text="${job.getId()}" style="font-size:x-small"></th>
            </tr>
            <tr>
                <th>NAME:</th>
                <th th:text="${job.getName()}" style="font-size:x-small"></th>
            </tr>
            <tr>
                <th>EMPLOYER:</th>
                <th>
                    <a th:href="@{/list/jobs(column=employer,value=${job.getEmployer()})}" th:text="${job.getEmployer()}" style="font-size:x-small" align="left"></a>
                </th>
            </tr>
            <tr>
                <th>LOCATION:</th>
                <th>
                    <a th:href="@{/list/jobs(column=location,value=${job.getLocation()})}" th:text="${job.getLocation()}" style="font-size:x-small" align="left"></a>
                </th>
            </tr>
            <tr>
                <th>POSITION TYPE:</th>
                <th>
                    <a th:href="@{/list/jobs(column=positionType,value=${job.getPositionType()})}" th:text="${job.getPositionType()}" style="font-size:x-small" align="left"></a>
                </th>
            </tr>
            <tr>
                <th>SKILL:</th>
                <th>
                    <a th:href="@{/list/jobs(column=coreCompetency,value=${job.getCoreCompetency()})}" th:text="${job.getCoreCompetency()}" style="font-size:x-small" align="left"></a>
                </th>
            </tr>
        </table>
    </th:block>



</div>

</body>
</html>